<h1>Sign Up Below:</h1>

<form method=post action='/registrations'>
  <input id="name" name="name" type="text">
  <input id="email" name="email" type="text">
  <input id="password" name="password" type="text">
</form>
